
html{
    background-image: url("../Images/pics/bg.jpg")}
*{
    color: aliceblue;
}


    
/* form {
    width: 550px;
    height: 450px;
    margin: auto;
    position: relative;
  }   */

.form-container{
     
   -webkit-box-shadow: 5px 13px 17px 19px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 13px 17px 19px rgba(0,0,0,0.6);
    box-shadow: 5px 13px 17px 19px rgba(0,0,0,0.6);
    }
    

